.sideBar {
    border-left: 1px solid black;
    right: 0;
}

.sideBar-hidden {
  transform: translateX(260px);
}

.toggle-button {
    align-self: flex-start;
    margin-left: -30px;
}

.users-online {
    margin-top: 5px;
    width: 100%;
    overflow-y: auto;
}

.user{
    background: #AFAFAF;
    border: 1px solid black;
    margin-left: 2px;
    margin-top: 10px;
    width: 98%;

    border-radius: 10px;
    transition: transform 0.1s ease;
}

.user:hover{
    background: #404040;
    color: #DDD0C8;
    transform: translate(-2px, -2px);
    cursor: pointer;
}